In [1]:
import glob

In [2]:
import pandas as pd

In [3]:
a=pd.read_csv("Khammam2018.csv")
b=pd.read_csv("Khammam2019.csv")
c=pd.read_csv("Khammam2020.csv")

In [4]:
c.columns=b.columns=a.columns

In [5]:
def func(x):
    if(x[3:5]=='01' or x[3:5]=='02' or x[3:5]=='03'):
        return True
    else:
        return False
for df in [a,b,c]:
    df['Date']=df['Date'].apply(func)

In [6]:
a=a[a['Date']]
b=b[b['Date']]
c=c[c['Date']]

In [7]:
train=pd.concat([a,b,c],axis=0)

In [8]:
train.drop('Date',axis=1,inplace=True)

In [9]:
train.columns

Index(['Rainfall (mm)', 'temp_min (⁰C)', 'temp_max (⁰C)', 'humidity_min (%)',
       'Humidity_max (%)', 'wind_speed_min (Kmph)', 'wind_speed_max (Kmph)'],
      dtype='object')

In [10]:
train_X=train[['Rainfall (mm)', 'temp_min (⁰C)', 'temp_max (⁰C)', 'humidity_min (%)',
       'Humidity_max (%)']]

In [11]:
train_Y=train[['wind_speed_min (Kmph)', 'wind_speed_max (Kmph)']]

In [12]:
from sklearn.linear_model import LinearRegression

In [13]:
train_X

,Rainfall (mm),temp_min (⁰C),temp_max (⁰C),humidity_min (%),Humidity_max (%)
0,0.0,18.302632,33.076316,36.728947,80.894737
1,0.0,18.439474,33.397368,36.763158,90.165789
2,0.0,17.513158,32.781579,39.244737,93.289474
3,0.0,15.213158,32.131579,32.242105,87.921053
4,0.0,14.744737,31.297368,29.915789,84.692105
...,...,...,...,...,...
86,0.0,23.442857,37.661905,39.571429,93.742857
87,0.0,22.580952,37.571429,41.033333,86.942857
88,0.0,23.271429,38.195238,35.338095,81.404762
89,0.0,23.328571,39.052381,33.004762,87.285714
90,0.0,24.114286,38.704762,33.785714,90.766667

In [14]:
model=LinearRegression()
model.fit(train_X,train_Y)

LinearRegression()

In [16]:
predict=pd.read_csv("Khammam2021.csv")

In [17]:
predict['Date']=predict['Date'].apply(func)

In [18]:
predict=predict[predict['Date']]

In [19]:
predict.drop(['Date','wind_speed_min (Kmph)','wind_speed_max (Kmph)'],axis=1,inplace=True)

In [20]:
predict_Y=model.predict(predict)

In [21]:
res=pd.DataFrame(predict_Y)

In [22]:
res.columns=['wind_speed_min (Kmph)','wind_speed_max (Kmph)']

In [23]:
for i in range(len(res)):
    min_s=res.iloc[i]['wind_speed_min (Kmph)']
    max_s=res.iloc[i]['wind_speed_max (Kmph)']
    res.iloc[i]['wind_speed_min (Kmph)']=min(min_s,max_s)
    res.iloc[i]['wind_speed_max (Kmph)']=max(max_s,min_s)

In [24]:
res.to_csv("Khammam_wind_2021.csv")