In [1]:
import glob

In [2]:
import pandas as pd

In [3]:
a=pd.read_csv("Nizamabad2018.csv")
b=pd.read_csv("Nizamabad2019.csv")
c=pd.read_csv("Nizamabad2020.csv")

In [4]:
c.columns=b.columns=a.columns

In [5]:
def func(x):
    if(x[3:5]=='01' or x[3:5]=='02' or x[3:5]=='03'):
        return True
    else:
        return False
for df in [a,b,c]:
    df['Date']=df['Date'].apply(func)

In [6]:
a=a[a['Date']]
b=b[b['Date']]
c=c[c['Date']]

In [7]:
train=pd.concat([a,b,c],axis=0)

In [8]:
train.drop('Date',axis=1,inplace=True)

In [9]:
train.columns

Index(['Rainfall (mm)', 'temp_min (⁰C)', 'temp_max (⁰C)', 'humidity_min (%)',
       'Humidity_max (%)', 'wind_speed_min (Kmph)', 'wind_speed_max (Kmph)'],
      dtype='object')

In [10]:
train_X=train[['Rainfall (mm)', 'temp_min (⁰C)', 'temp_max (⁰C)', 'humidity_min (%)',
       'Humidity_max (%)']]

In [11]:
train_Y=train[['wind_speed_min (Kmph)', 'wind_speed_max (Kmph)']]

In [12]:
from sklearn.linear_model import LinearRegression

In [13]:
train_X

,Rainfall (mm),temp_min (⁰C),temp_max (⁰C),humidity_min (%),Humidity_max (%)
0,0.0,13.684615,29.876923,27.620513,82.279487
1,0.0,13.669231,31.538462,26.541026,83.279487
2,0.0,13.869231,31.243590,26.571795,82.746154
3,0.0,13.710256,30.966667,26.387179,80.938462
4,0.0,14.158974,29.338462,30.294872,78.025641
...,...,...,...,...,...
86,0.0,22.931034,36.103448,34.565517,77.372414
87,0.0,22.765517,38.127586,25.037931,76.341379
88,0.0,23.572414,37.562069,25.441379,77.175862
89,0.0,22.400000,37.831034,30.386207,76.368966
90,0.0,22.493103,36.251724,36.617241,77.544828

In [14]:
model=LinearRegression()
model.fit(train_X,train_Y)

LinearRegression()

In [15]:
predict=pd.read_csv("Nizamabad2021.csv")

In [16]:
predict['Date']=predict['Date'].apply(func)

In [17]:
predict=predict[predict['Date']]

In [18]:
predict.drop(['Date','wind_speed_min (Kmph)','wind_speed_max (Kmph)'],axis=1,inplace=True)

In [19]:
predict_Y=model.predict(predict)

In [20]:
res=pd.DataFrame(predict_Y)

In [21]:
res.columns=['wind_speed_min (Kmph)','wind_speed_max (Kmph)']

In [22]:
for i in range(len(res)):
    min_s=res.iloc[i]['wind_speed_min (Kmph)']
    max_s=res.iloc[i]['wind_speed_max (Kmph)']
    res.iloc[i]['wind_speed_min (Kmph)']=min(min_s,max_s)
    res.iloc[i]['wind_speed_max (Kmph)']=max(max_s,min_s)

In [23]:
res.to_csv("Nizamabad_wind_2021.csv")